<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.composedemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeDemo">

        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeDemo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.RowAndColumnActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar"/>

        <activity
            android:name=".ui.activity.ModifierActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar" />

        <activity
            android:name=".ui.activity.ImageCardActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar" />

        <activity
            android:name=".ui.activity.FontActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar" />
        <activity
            android:name=".ui.activity.StateActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar" />

        <activity
            android:name=".ui.activity.SnackBarActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar" />

        <activity
            android:name=".ui.activity.ListActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar" />

        <activity
            android:name=".ui.activity.ConstrainLayoutActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar" />

        <activity
            android:name=".ui.activity.ButtonActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar" />

        <activity android:name=".ui.activity.WebViewActivity" />
        <activity android:name=".ui.activity.GridListActivity" />
        <activity android:name=".ui.activity.BezierActivity" />
        <activity android:name=".ui.activity.CanvasActivity" />
        <activity android:name=".ui.activity.ComplexActivity" />
        <activity android:name=".ui.activity.SmartRefreshActivity" />
        <activity android:name=".ui.activity.XmlAndComposeActivity" />
        <activity android:name=".ui.activity.ComposeAndXmlActivity" />
        <activity android:name=".ui.activity.WechatFriendsCircleActivity" />
        <activity android:name=".ui.activity.ComposeCameraXActivity" />
        <activity android:name=".ui.activity.PermissionActivity" />
        <activity android:name=".ui.activity.MainActivityNewActivity" />
        <activity android:name=".ui.activity.BottomNavigationActivity" />
        <activity android:name=".ui.activity.ClockActivity" />
        <activity android:name=".ui.activity.NewUiStyleActivity" />

    </application>

</manifest>