<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.composedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeDemo">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeDemo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.RowAndColumnActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar">
        </activity>

        <activity
            android:name=".ui.ModifierActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar"/>

        <activity
            android:name=".ui.ImageCardActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar"/>

        <activity
            android:name=".ui.FontActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar"/>
        <activity
            android:name=".ui.StateActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar"/>

        <activity
            android:name=".ui.SnackBarActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar"/>

        <activity
            android:name=".ui.ListActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar"/>

        <activity
            android:name=".ui.ConstrainLayoutActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar"/>

        <activity
            android:name=".ui.ButtonActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar"/>

    </application>

</manifest>